
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Libre+Franklin:ital,wght@0,400;1,200;1,500&family=Lora:ital,wght@1,500&family=M+PLUS+1p:wght@300;400;700&family=Manrope:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;1,100;1,200;1,500;1,600;1,700;1,800&family=Quicksand:wght@400;500;600&family=Raleway:ital,wght@0,200;0,500;1,500&family=Roboto+Slab:wght@200;300;400;800&family=Source+Code+Pro&display=swap');



/* font-family: 'Comfortaa', cursive;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Lora', serif;
font-family: 'M PLUS 1p', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Source Code Pro', monospace; */

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  min-height: 100vh;
  border: 8px solid #39445a93;
 
  margin: 5px;
  padding: 5px;
  /* background-image: url(https://picsum.photos/1200/1000?random=2); */
}

.mainImg {
  padding: 10px 0 5px 0;
}

